@{
    ViewData["Title"] = "Home Page";
}

<section>
    <p>Welcome to my personal website.</p>
    <p>My name is <strong>Ondřej Pavlovič</strong>.</p>
    <p>I was born and raised in <em>Jihlava, Czech republic</em>.</p>
    <p class="tlacitko-odstavec">
        <a class="reference-tlacitko" asp-controller="Home" asp-action="References">My references</a>
    </p>
</section>

<img src="~/images/Jihlava.jpg"
     alt="Jihlava" />
