@{
    ViewData["Title"] = "References";
}

<section>
    <p>Below you can see examples of my work:</p>

    <div id="reference">
        <a href="~/images/web.png" title="web" rel="lightbox[reference]">
            <img src="~/images/web.png" width="33%" alt="web" />
        </a>

    </div>
</section>
