@{
    ViewData["Title"] = "Skills";
}

<section>
    <table id="dovednosti">
        <tr class="center">
            <td>
                <img src="~/images/c.jpg" width="33%" alt="C#" />
            </td>
            <td>
                <img src="~/images/html.png" width="33%" alt="HTML" />
            </td>
            <td>
                <img src="~/images/python.png" width="33%" alt="PYTHON" />
            </td>
        </tr>
        <tr>
            <td>
                <h2>C# .NET</h2>
                <p>I build web apps in ASP.NET Core.</p>
            </td>
            <td>
                <h2>HTML/CSS</h2>
                <p>I create responsive websites.</p>
            </td>
            <td>
                <h2>Python</h2>
                <p>I use framework Django.</p>
            </td>
        </tr>
    </table>
</section>